@import 'vars';

body {
    background-color: $bgc;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (max-width: $width-lg) {
    .container {
        max-width: 720px;
    }
}
@media screen and (max-width: $width-md) {
    .container {
        max-width: 540px;
    }
}
@media screen and (max-width: $width-sm) {
    .container {
        max-width: 100%;
        padding: 0px;
    }
}
