@import '../vars';

.table {
    font-size: $fz-std;
    border-spacing: 0px;
    width: 100%;
    & > thead > tr {
        text-align: left;
        background-color: $bgc;
    }

    & > tbody,
    thead > tr > th,
    td {
        padding: 20px;
        border-bottom: 1px solid $bgc;
        color: $grey-font;
    }
}

@media screen and (max-width: $width-md) {
    .table {
        font-size: $fz-std;
        & > tbody,
        thead > tr > th,
        td {
            padding: 5px;
        }
    }
}
