@import '../vars';

.table {
    border-spacing: 0px;
    width: 100%;
    & > thead > tr {
        text-align: left;
        background-color: $bgc;
    }

    & > tbody,
    thead > tr > th,
    td {
        padding: 20px;
        border-bottom: 1px solid $bgc;
        color: $grey-font;
    }
}
